
:root {
    --instagram-gradient: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}
body {
  font-family: 'Arial', sans-serif;
  background: var(--instagram-gradient);
  color: white;
  margin: 0;
  padding: 0;
}
header, footer {
  text-align: center;
  padding: 1rem;
  background-color: rgba(0,0,0,0.3);
}
.container {
  padding: 2rem;
  max-width: 600px;
  margin: auto;
}
form input, form select, form button {
  width: 100%;
  padding: 0.7rem;
  margin-top: 0.5rem;
  border-radius: 5px;
  border: none;
}
button {
  background: #e1306c;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
